$orange-main: #FABB18;
$orange-main-black: #EFAE04;
$black: #121212;
$white: #FFFFFF;
$grey: #C1C1C1;
$light-grey: #DFDFDF;
$light-grey-for-dates: #F6F6F6;
$grey-hover-style: #EAEAEA;
$grey-stroke: #F5F6F7;
$grey-dark: #A0A0A0;
$white-sidebar-style: #FAFAFA;
$green-main: #46BD84;
$red-main: #F85640;
$red-icons: #FF2400;
$red-exception: #F30000;
$yellow-main: #FFF44F;
