<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper--single-form">
        <div class="container">
            <div class="form">
                <div class="form__logo">
                    <img class="form__logo-image" src="../images/app_logo/app_title.png" alt="">
                    <h1 class="form__logo-title">Password change</h1>
                    <p class="form__logo-text">
                        Enter your email and we'll send you a link with which you can change your password.    
                    </p>
                </div>
                <div class="form__inputs">
                    <input class="form__inputs-email" type="email" placeholder="Email"> 
                </div>
                <button class="form__btn">Send code</button>
            </div>
        </div>
    </div>
</body>
</html>