<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper--single-form">
        <div class="container">
            <form class="form" method="post" action="confirm">
                <div class="form__logo">
                    <img class="form__logo-image" src="../images/app_logo/app_title.png" alt="">
                    <p class="form__logo-title">
                        Email confirm
                    </p>
                    <p class="form__logo-text">
                        To success the registration we need to confirm your email.
                        We've sent you a letter on email test@gmail.com. Check it 
                        and write a code to confirm your email address.
                    </p>
                </div> 
                <div class="form__code">
                    <input class="form__code-number" type="text" maxlength="1"></input>
                    <input class="form__code-number" type="text" maxlength="1"></input>
                    <input class="form__code-number" type="text" maxlength="1"></input>
                    <input class="form__code-number" type="text" maxlength="1"></input>
                </div>
                <button class="form__btn" type="submit">Confirm</button>
                <!-- <p class="form__exception">
                    Something went wrong. Check your email or username and password.
                </p> -->
            </form>
        </div>
    </div>
</body>
</html>