<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper--main">
        <header class="header">
            <div class="header__inner">
                <div class="header__inner-buttons-group">
                    <ul class="header__inner-buttons-group-list">
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--toggle"></div>
                        </li>
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--home"></div>
                        </li>

                        <li class="header__inner-buttons-group-list-item">
                            <form action="" class="header__inner-buttons-group--search">
                                <input type="search" name="search" placeholder="Search">
                            </form>
                        </li>
                    </ul>
                </div>
                <img class="header__inner-title" src="../images/app_logo/app_title.png" alt="">
                <div class="header__inner-buttons-group">
                    <ul class="header__inner-buttons-group-list">
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--notification"></div>
                        </li>
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--help"></div>
                        </li>
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--username">Saul Goodman</div>
                        </li>
                        <li class="header__inner-buttons-group-list-item">
                            <div class="header__inner-buttons-group--avatar"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="header__stroke"></span>
        </header>

        <main>
            <section class="sidebar sidebar--left">
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-item">
                        <div class="sidebar__menu-item--today">Today</div>
                    </li>
                    <li class="sidebar__menu-item">
                        <div class="sidebar__menu-item--planned">Planned</div>
                    </li>
                    <li class="sidebar__menu-item">
                        <div class="sidebar__menu-item--analytics">Analytics</div>
                    </li>
                    <li class="sidebar__menu-item">
                        <div class="sidebar__menu-item--tasks">Tasks</div>
                    </li>
                </ul>
                <span class="sidebar__stroke"></span>
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-item">
                        <button class="sidebar__menu-item--btn">Add new list</button>
                    </li>
                </ul>
            </section>

            <div class="container--main">
                <div class="container--main-tasks">
                    <div class="main__task-header main__task-header--big">
                        <h1 class="main__task-header-title">Today</h1>
                        <h3 class="main__task-header-date">Sat 16.07.23</h3>
                        <div class="main__task-header-options-menu">View</div>
                    </div>
                    <div class="main__task main__task--planned main__task--big">
                        <div class="main__task-checkbox main__task-checkbox--active"></div>
                        <p class="main__task-text">Buy new phone</p>
                        <span class="main__task--planned-stroke"></span>
                        <div class="main__task--planned-icon"></div>
                        <p class="main__task--planned-date">Monday, 25 July</p>
                    </div>
                    <div class="main__task main__task--big">
                        <div class="main__task-checkbox"></div>
                        <p class="main__task-text">Buy new computer</p>
                    </div>
                    <div class="main__task main__task--plus main__task--big">
                        <div class="main__task-plus"></div>
                        <p class="main__task-text">Add new task</p>
                    </div>
                    <div class="main__task main__task--completed main__task--big">
                        <div class="main__task-completed"></div>
                        <p class="main__task-text">Completed</p>
                        <span class="main__task-stroke"></span>
                    </div>
                </div>
            </div>

            <!-- <section class="sidebar sidebar--right sidebar--task">
                <div class="sidebar__title">Task options</div>
                <span class="sidebar__stroke"></span>
                <form class="sidebar__task-options" action="#">
                    <div class="sidebar__task-options-item">
                        <input class="sidebar__task-options-item--taskname" type="text" placeholder="Your task name">
                    </div>
                    <div class="sidebar__task-options-item">
                        <textarea class="sidebar__task-options-item--description" name="sidebar__textarea" id="" cols="30" rows="10" placeholder="Your description"></textarea>
                    </div>
                    <div class="sidebar__task-options-item">
                        <button class="sidebar__task-options-item--priority">None</button>
                    </div>
                    <div class="sidebar__task-options-item">
                        <button class="sidebar__task-options-item--planned">Today</button>
                    </div>
                    <div class="sidebar__task-options-item">
                        <button class="sidebar__task-options-item--remind">Never</button>
                    </div>
                    <div class="sidebar__task-options-item">
                        <button class="sidebar__task-options-item--repeat">Never</button>
                    </div>
                    <div class="sidebar__task-options-item">
                        <button class="sidebar__task-options-item--list">None</button>
                    </div>
                    <span class="sidebar__stroke"></span>
                    <div class="sidebar__task-options-buttons">
                        <button class="sidebar__task-options-btn sidebar__task-options-btn--save">Save</button>
                        <button class="sidebar__task-options-btn sidebar__task-options-btn--delete">Delete</button>
                    </div>
                </form>
            </section> -->
<!-- 
            <section class="sidebar sidebar--right sidebar--user">
                <div class="sidebar__title">User options</div>
                <span class="sidebar__stroke"></span>
                <form class="sidebar__user-options" action="">
                    <div class="sidebar__user-options-item">
                        <h2 class="sidebar__user-options-item--title">Photo</h2>
                        <div class="sidebar__user-options-item--avatar"></div>
                        <button class="sidebar__user-options-item--upload">Upload photo</button>
                        <button class="sidebar__user-options-item--remove">Remove photo</button>
                        <h4 class="sidebar__user-options-item--subtitle">Pick a photo up to 4MB</h4>
                    </div>
                    <div class="sidebar__user-options-item">
                        <h2 class="sidebar__user-options-item--title">Name</h2>
                        <input class="sidebar__user-options-item--name" type="text" placeholder="Your name">
                    </div>
                    <div class="sidebar__user-options-item">
                        <h2 class="sidebar__user-options-item--title">Email</h2>
                        <input class="sidebar__user-options-item--email" type="email" placeholder="Your email">
                        <button class="sidebar__user-options-item--change-email">Change email</button>
                    </div>
                    <div class="sidebar__user-options-item">
                        <h2 class="sidebar__user-options-item--title">Password</h2>
                        <button class="sidebar__user-options-item--change-pas">Change password</button>
                    </div>
                    <div class="sidebar__user-options-item">
                        <h2 class="sidebar__user-options-item--title">Delete account</h2>
                        <button class="sidebar__user-options-item--delete">Delete</button>
                    </div>
                </form>
            </section> -->
        </main>
    </div>
</body>

</html>