<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
    <!-- Logo overlay -->
    <!-- <div class="container__logo">
        <div class="logo">
            <img class="logo__img" src="../images/icons/logo_letter.png" alt="">
            <img class="logo__shape" src="../images/icons/shape.png" alt="">
        </div>
    </div> -->

    <!-- Confirmation overlay -->
    <!-- <div class="container__confirmation">
        <section class="confirmation__form">
            <img class="confirmation__form-logo" src="../images/app_logo/app_title.png" alt="">
            <img class="confirmation__form-sign" src="../images/background_images/check_mark.png" alt="">
            <p class="confirmation__form-text">
                Your email was confirmed.
                Redirecting to the login page.
            </p>
        </section>
    </div> -->

    <!-- Password helper pop-up -->
    <!-- <section class="form__password-helper">
        <p class="form__password-helper-text">
            To protect your data, you need to create a secure password.
            It has to contain:
        </p>
        <ul class="form__password-helper-parameters-list">
            <li class="form__password-helper-parameter">
                8 or more characters;
            </li>
            <li class="form__password-helper-parameter">
                Only latin letters;
            </li>
            <li class="form__password-helper-parameter">
                Numbers;
            </li>
            <li class="form__password-helper-parameter">
                Capital letters;
            </li>
            <li class="form__password-helper-parameter">
                Punctuation marks (!%$_~+-,./{|}<=>?@”()':;`^[]).
            </li>
        </ul>
    </section> -->
</body>
</html>