<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <img class="background-image" src="../images/background_images/back_image3.png" alt="">
        <div class="container">
            <form class="form" method="post" action="registration">
                <div class="form__logo">
                    <img class="form__logo-image" src="../images/app_logo/app_title.png" alt="">
                    <p class="form__logo-title">
                        Sign up to manage your
                        deals right now
                    </p>
                </div>
                <div class="form__inputs">
                    <input class="form__inputs-email" type="email" name="email" placeholder="Email" required>
                    <input class="form__inputs-username" type="text" name="username" placeholder="Username" required>
                    <input class="form__inputs-password" type="password" name="password" placeholder="Password" required>
                    <input class="form__inputs-password-again" type="password" name="password_again" placeholder="Password again" required>
                </div>
                <button class="form__btn" type="submit">Sign up</button>
                <!-- <p class="form__exception">
                    Your password isn't correct
                </p> -->
                <div class="form__redirect">
                    <p class="form__redirect-text">
                        Have an account?
                        <a class="form__redirect-link" href="/login">Log in</a> 
                    </p>
                </div>
                <!-- <section class="form__password-helper">
                    <p class="form__password-helper-text">
                        To protect your data, you need to create a secure password.
                        It has to contain:
                    </p>
                    <ul class="form__password-helper-parameters-list">
                        <li class="form__password-helper-parameter">
                            8 or more characters;
                        </li>
                        <li class="form__password-helper-parameter">
                            Only latin letters;
                        </li>
                        <li class="form__password-helper-parameter">
                            Numbers;
                        </li>
                        <li class="form__password-helper-parameter">
                            Capital letters;
                        </li>
                        <li class="form__password-helper-parameter">
                            Punctuation marks (!%$_~+-,./{|}<=>?@”()':;`^[]).
                        </li>
                    </ul>
                </section> -->
            </form>
        </div>
    </div>
</body>
</html>