@import 'mixins';

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: $black;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

.wrapper--main {
	min-height: 100%;
}

.wrapper--single-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.container {
	width: calc(100vw / 3);
    height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container--main {
	@include flex(column, flex-start, center);
	width: calc(100% - 320px);
	height: 100vh;
	position: relative;
	left: 320px;
	top: 80px;
}

.container--main-tasks {
	@include flex(column, flex-start, center);
	flex-wrap: nowrap;
	width: 1400px;
	height: 100%;
	margin: 130px auto 0;
	position: relative;
}

.container--main-calendar, .container--main-graph {
	@include flex(row, flex-start);
	flex-wrap: nowrap;
	width: 1400px;
	margin: 150px auto 0;
	position: relative;
}
